@import url('http://fonts.googleapis.com/css?family=Shadows+Into+Light');
*{
	margin:0px;
	padding:0px;
}

body{
	background-image:url("../images/homeback1.jpg");
}
#home{
	-webkit-box-orient:vertical;
	text-align:center;
}

#header{
	margin-top:20px;
}

h1,h3,p,footer{
	font-family:'Shadows Into Light', cursive;
}

img{
	width:100%;
	height:250px;
	margin-top:15px;
	-webkit-transition:-webkit-transform 2s;
}
img:hover{
	-webkit-transform:scale(1.5) rotate(-5deg);
}

#line1{
	display:-webkit-box;
	width:1000px;
	height:400px;
	margin-top:30px;
}
#line2{
	display:-webkit-box;
	width:1000px;
	height:400px;
	margin-top:30px;
}

#line3{
	display:-webkit-box;
	width:1000px;
	height:350px;
	margin-top:30px;
}

#pic1box{
	display:block;
	margin-left:150px;
	float:left;
}
#pic2box{
	display:block;
	margin-left:20px;
	float:left;
}
#pic3box{
	display:block;
	margin-left:20px;
	float:left;
}

#pic{
	
	width:300px;
	min-height:150px;
	padding:10px;
	position:relative;
	background: -webkit-gradient(linear,0% 20%, 0% 92%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
	-webkit-border-bottom-right-radius:60px 60px;
	-webkit-border-top-right-radius:60px 5px;
	-webkit-border-top-left-radius:60px 5px;
	border-right:1px dashed #ccc;
	border-left:1px dashed #ccc;
	border-top:1px dashed #ccc;
	-webkit-box-shadow:0px 0px 12px rgba(0,0,0,0.3);
}

#pic:before{
	content:'';
	width:25px;
	height:20px;
	position:absolute;
	bottom:0;
	right:0;
	-webkit-border-bottom-right-radius:30px;
	-webkit-box-shadow: -2px -2px 5px rgba(0,0,0,0.3);
	-webkit-transform:rotate(-20deg) skew(-40deg,-3deg) translate(-13px,-13px);
	
}
#pic:after{
	content:'';
	width:100px;
	height:100px;
	z-index:-10;
	position:absolute;
	bottom:0;
	right:0;
	display:inline-block;
	-webkit-box-shadow: 20px 20px 8px rgba(0,0,0,0.6);
	-webkit-transform:rotate(0deg) translate(-45px,-20px) skew(20deg);
	background:rgba(0,0,0,0.2);
}

#pic_corner_lf{
	width:100px;
	height:100px;
	top:0;
	left:0;
	position:absolute;
	z-index:-6;
	display:inline-block;
	
	-webkit-box-shadow:-10px -10px 10px rgba(0,0,0,0,2);
	-webkit-transform:rotate(2deg) translate(20px 25px) skew(20deg);
}

#pic_corner-rt{
	content: '';
    width: 50px;
    height: 50px;
    top:0; 
	right:0;
    position:absolute;
    display: inline-block;
    z-index:-6;
    -webkit-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg) translate(-14px,20px) skew(-20deg);
                           
}	

#back{
	text-align:center;
}

p{
	margin-top:15px;
}

#text{
	width:150px;
	height:20px;
	margin:20px auto;
	color:#D3D3D3;
	padding:10px 20px;
	background:no-repeat;
	background-position:top center;
	background-image:url('../images/heart.jpg');
	-webkit-border-radius:8px;
	-webkit-box-shadow: 0 0 1px #fff inset;
	-webkit-box-shadow:rgba(128,0,0,0.5) 0px 4px 2px;
	-webkit-transition:background-position 1s;
	

}

#text:hover{
	background-position:bottom center;
}
#text:active{
-webkit-box-shadow:rgb(240,128,128) 0px 1px 2px;
bottom:-1px;
}
.tohome{
	text-decoration:none;
	color: inherit;
}

li{	display:inline-block;
	list-style:none;
	padding:5px;
}

#go{
	width:100px;
	height:30px;
	-webkit-border-radius:60px 5px;
	border:1px dashed #ccc;
	background:rgba(255,218,185,0.5);
	-webkit-animation-duration:1s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-fill-mode:both;
	
	
}

 @-webkit-keyframes wobble{	
  0% { -webkit-transform: translateX(0%); }
  15% { -webkit-transform: translateX(-25%) rotate(-5deg); }
  30% { -webkit-transform: translateX(20%) rotate(3deg); }
  45% { -webkit-transform: translateX(-15%) rotate(-3deg); }
  60% { -webkit-transform: translateX(10%) rotate(2deg); }
  75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
  100% { -webkit-transform: translateX(0%); }
}

#go:hover{
	-webkit-animation-name:wobble;
}

